<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Macskák</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      </style>
</head>
<body>
  <form method="get">
  <p>Keresés szem szín alapján:  <input type="text" name="keres"> <input type="submit" value="Keresés"></p></form>
    <table>
      <tr>
        <th>Súly</th>
        <th>Szem szín</th>
      </tr>
      <% for(let c of macskak){%>
        <tr>
          <td>
            <%=c.suly  %> 
          </td>
          <td>
            <%=c.szem_szin  %> 
          </td>
        </tr>
        <% } %>  
    </table>
    <h2><a href="/macskak/new">Új hozzáadása</a></h2>
    
</body>
</html>
